/*.file-upload {
  min-height: 82px;
  border: 1px dashed #9f7aea;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
  color: #7c3cff;
  background: #fbf8ff;

  p {
    margin: 0;
    color: #334155;
    font-size: 14px;
    font-weight: 600;

    span {
      color: #7c3cff;
    }
  }

  small {
    color: #64748b;
  }
}*/
.file-upload {
  width: 100%;
  min-height: 82px;
  border: 1px dashed #9f7aea;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
  color: #7c3cff;
  background: #fbf8ff;
  cursor: pointer;
  box-sizing: border-box;

  svg {
    color: #7c3cff;
  }

  p {
    margin: 0;
    color: #334155;
    font-size: 14px;
    font-weight: 600;

    span {
      color: #7c3cff;
      font-weight: 800;
    }
  }

  small {
    color: #64748b;
    font-size: 12px;
  }

  &:hover {
    background: #f7efff;
    border-color: #7c3cff;
  }
}